h1 {
  font-family: "Avenir";
  color: white;
}

body {
  padding: 2%;
  background-image: url('./../images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ladder {
  font-family: "Avenir";
  width: 55%;
  border-color: gray;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0.5,0.5,0.5,0.5);
  color: #5A5A5A;
}

#ladder_row:hover {
  background-color: #313131;
  opacity: 0.75;
}

#rank {
  width: 50%;
}

.button {
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #5A5A5A;

}
