h1 {
  font-family: "Avenir";
  color: white;
  float: right;
  font-size: 3.5em;
  letter-spacing: -1px;
  font-weight: bold;
  -moz-transform: rotate(30deg);  /* FF3.5+ */
  -o-transform: rotate(30deg);  /* Opera 10.5 */
  -webkit-transform: rotate(30deg);  /* Saf3.1+, Chrome */
  -ms-transform: rotate(30deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}

body {
  padding: 2%;
  background-image: url('./../images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ladder {
  float:left;
  font-family: "Avenir";
  width: 25%;
  border-color: gray;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0.5,0.5,0.5,0.5);
  color: #5A5A5A;
  font-size: 1.5em;
}

#ladder_row:hover {
  background-color: #313131;
  opacity: 0.75;
}

#rank {
  width: 10%;
  border-bottom: solid 1px #5A5A5A;
}

.rankright {
  text-align: right;
}

#name{
  text-align: center;
  border-bottom: solid 1px #5A5A5A;
}

form {
  font-family: "Avenir";
}

.button {
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #5A5A5A;
  background: Transparent;
  color: #5A5A5A;
  font-size: 15px;

}

::-webkit-input-placeholder {
   color: #5A5A5A;
}

#input_name {
  background: Transparent;
  border-radius: 4px;
  border: 1px solid #5A5A5A;
  color: #5A5A5A;
  font-size: 15px;
  padding-left: 3px;
}

#input_name:focus {
  outline: none;
}

.form-control {
  background: Transparent;
  color: #5A5A5A;
  border: 1px solid #5A5A5A;
  font-size: 15px;
}

.form-control:focus {
  outline: none;
}

.form-control-option {
}

#addplayer {
  clear:left;
  float:left;
  padding-top: 2%;
}

#update-rank {
  clear:left;
  float:left;
  padding-top: 2%;
}
